estoque-ws-server/src/main/resources/estoquews.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.estoque.gabriel.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.estoque.gabriel.com.br/" name="EstoqueWSService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.estoque.gabriel.com.br/" schemaLocation="http://localhost:8080/estoquews?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="CadastrarItem">
<part name="parameters" element="tns:CadastrarItem"></part>
<part name="tokenUsuario" element="tns:tokenUsuario"></part>
</message>
<message name="CadastrarItemResponse">
<part name="result" element="tns:CadastrarItemResponse"></part>
</message>
<message name="AutorizacaoFault">
<part name="fault" element="tns:AutorizacaoFault"></part>
</message>
<message name="TodosOsItens">
<part name="parameters" element="tns:TodosOsItens"></part>
</message>
<message name="TodosOsItensResponse">
<part name="parameters" element="tns:itens"></part>
</message>
<portType name="EstoqueWS">
<operation name="CadastrarItem" parameterOrder="parameters tokenUsuario">
<input wsam:Action="http://ws.estoque.gabriel.com.br/EstoqueWS/CadastrarItemRequest" message="tns:CadastrarItem"></input>
<output wsam:Action="http://ws.estoque.gabriel.com.br/EstoqueWS/CadastrarItemResponse" message="tns:CadastrarItemResponse"></output>
<fault message="tns:AutorizacaoFault" name="AutorizacaoFault" wsam:Action="http://ws.estoque.gabriel.com.br/EstoqueWS/CadastrarItem/Fault/AutorizacaoException"></fault>
</operation>
<operation name="TodosOsItens">
<input wsam:Action="http://ws.estoque.gabriel.com.br/EstoqueWS/TodosOsItensRequest" message="tns:TodosOsItens"></input>
<output wsam:Action="http://ws.estoque.gabriel.com.br/EstoqueWS/TodosOsItensResponse" message="tns:TodosOsItensResponse"></output>
</operation>
</portType>
<binding name="EstoqueWSPortBinding" type="tns:EstoqueWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="CadastrarItem">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal" parts="parameters"></soap:body>
<soap:header message="tns:CadastrarItem" part="tokenUsuario" use="literal"></soap:header>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AutorizacaoFault">
<soap:fault name="AutorizacaoFault" use="literal"></soap:fault>
</fault>
</operation>
<operation name="TodosOsItens">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="EstoqueWSService">
<port name="EstoqueWSPort" binding="tns:EstoqueWSPortBinding">
<soap:address location="http://localhost:8080/estoquews"></soap:address>
</port>
</service>
</definitions>